.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0; /* Adjusted to remove the gap between grid items */
    grid-auto-rows: 200px;
}

/* Header styles */
.header {
    background-color: rgb(31, 74, 81);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 2rem 2rem;
    color: black;
    z-index: 1000; /* Ensure header is above sidebar */
}

/* Global styles */
body {
    margin: 0; 
    padding: 0; 
}

.team_name {
    color: white;
    text-align: left;
}


/* Menu Side-Bar 
.left {
    background-color: Salmon;
    position: fixed; 
    top: calc(4rem + 80px); 
    bottom: 0; 
    left: 0; 
    width: 250px; 
    z-index: 999;
}
*/
/* Sidebar styles */
.sidebar {
    background-color: #343a40;
    position: fixed;
    top: calc(4rem + 80px);
    bottom: 0;
    left: 0;
    width: 250px;
    z-index: 999;
}

/* Main Content Area */
.center {
    background-color: rgb(125, 146, 151);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100% - 250px); /* Adjusted width to accommodate the sidebar */
    margin-left: 250px; /* Added margin-left to push content beside the sidebar */
    margin-top: calc(4rem + 80px); /* Added margin-top to align with the header */
    margin-right: 0; /* Removed default margin-right */
}


.wrapper > div {
    padding: 1em;
}

/* Sidebar item styles */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white; /* Set default font color to white */
    display: block;
}

.sidebar a:hover {
    color: black; /* Change font color to black on hover */
    background-color: rgb(31, 74, 81);
}
